{% extends "base.html" %}

{% block tittle %}

Services

{% endblock tittle %}


{% block body %}
<main>
    <h1>Take A Look On Our Services </h1>
    <div class="first">
        <div class="left-first">
            This Is A View Of  <span class="sky" >First Class</span> 
            <div>
                Seats From Our Airlines 
            </div>
        </div>
        <div class="right-first">
            <img src="/static/first.png" alt="">
        </div>
    </div>
    <div class="eco">
        <div class="left-eco">
            <img src="/static/economy.jpg" alt="">
        </div>
        <div class="right-eco">
            This Is A View Of  <span class="sky" >Economy Class</span> 
            <div>
                Seats From Our Airlines 
            </div>
        </div>
    </div>
    <div class="buss">
        <div class="left-buss">
            This Is A View Of  <span class="sky" >Bussiness Class</span> 
            <div>
                Seats From Our Airlines 
            </div>
        </div>
        <div class="right-buss">
            <img src="/static/business.jpg" alt="">
        </div>
    </div>

</main>


{% endblock body %}